#container{
    color: #384756;
    font-weight: 200;
    font-family: sans-serif;
    background-color: gainsboro;
    text-align: center;
    width: 850px;
    padding: 2px;
}

img.octocat {
    height: 200px;
}

.row{
    margin: 20px;
    padding: 20px;
    display: flex;
}

#top{
    background-color: rgb(0, 195, 255);
    justify-content: space-between;
}

#mid{
    background-color: rgb(245, 245, 245);
    justify-content: space-around;
}

#bot{
    background-color: rgb(255, 215, 0);
    justify-content: space-between;
}